<!DOCTYPE html>
    <html>
      <head>
      <title>
      </title>
      <link rel="stylesheet" type="text/css" href="style.css">
      <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">  
      <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">  
      <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
      <script type="text/javascript" src="content.js"></script>


      </head>
      <body>
      <header>
        <div class="row">
          <div class="col span-1-of-3 good"><h1>good</h1></div>
          <div class="col span-1-of-3 greeting"><h1>morning</h1></div>
          <div class="col span-1-of-3 name"><h1>user</h1></div>
        </div>
        <div class="row time">
          <h2>00:00</h2>   
        </div>
      </header>
        
      <section class="home">
        <div class="row">
          <div class="col span-1-of-2">
            <h5>city,state</h5>
            <h3>Sunny Skies</h3>
            <img src="#">
          </div>
          <div class="col span-1-of-2">
            <h3>What to wear</h3>
            <table>
            <tr>
              <td><img src="#"></td>
              <td><img src="#"></td>
            </tr>
            <tr>
              <td><img src="#"></td>
              <td><img src="#"></td>
            </tr>
            </table>
          
          </div>
        </div>
      </section>
      
      <section class="choose">
        <div class="row">
          <div class="col span-1-of-2">
            where are you going today?
          </div>
          <div class="col span-1-of-2">
            <form>
              <select>
                <option>
                </option>
              </select>
            </form>
          </div>

          </div>
        <div class="row">
          <div class="col span-1-of-4"></div>
          <div class="col span-1-of-4"></div>
          <div class="col span-1-of-4"></div>
          <div class="col span-1-of-4">
            <input type="submit" value="GET Forcast">          
          </div>
        </div>
      </section>

      <section class="todays">
        <div class="col span-1-of-2">
          <h5>city,state</h5>
          <h3>Sunny Skies</h3>
          <img src="#">
        </div>
        <div class="col span-1-of-2">
          <h3>What to wear</h3>
          <table>
          <tr>
            <td><img src="#"></td>
            <td><img src="#"></td>
          </tr>
          <tr>
            <td><img src="#"></td>
            <td><img src="#"></td>
          </tr>
          </table>

        </div>
      </section>
      
      <footer>
      </footer>
        
      <script>
        var date = new Date()
        console.log(date.toUTCString())
        
      </script>
      </body>
      